{% extends "base.html" %} {% load static %} {% block css %}

<link rel="stylesheet" href="static/index.css"> {% endblock %} {% block body %}
<div class="header">


    <header>

        <div class="landing">
            <div class="land-contaner">


                <div class="info">
                    <h2>Hello Everyone! <br> Welcome to our Online Library</h2>
                    <p>You can register as student. You will be able to issue any book thorugh the admin. After that you need to return the book within 14 days or else a fine of Rs 5 will be charged per day till the book is returned.
                    </p>
                </div>
                <div class="move-pic">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <span class="left-move"><i class="fa-solid fa-angle-left"></i></span>
                <span class="right-move"><i class="fa-solid fa-angle-right"></i></span>

            </div>
        </div>
    </header>
</div>

<div class="p-4 bg-light">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Register</h1>
        <p class="col-md-8 fs-4">If you don't Have any previous account you can register frome here </p>
        <a href="/student_registration/" class="btn btn-primary btn-lg">Register </a>

    </div>
    <div class="container">
        <div class="row">
            <p class="col-md-8 fs-4">If you have you can lohin as </p>
            <div class="col-lg-6">
                <img src="{% static 'img/Admin-icon.png' %}" width="50%" height="50%" alt=""><br><br>
                <a class="btn btn-outline-primary btn-lg" style="text-align:center" href="/admin_login/">Admin</a>
            </div>

            <div class="col-lg-6">
                <img src="{% static 'img/student.png' %}" width="50%" height="50%" alt=""><br><br>
                <a class="btn btn-outline-primary btn-lg" href="/student_login/">Student</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}