/*Start Global Ruls*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

 :root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --weak-color: #777;
}

ul {
    list-style: none;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 22px;
}


/*  end glopal */


/*Start Header*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url(/static/img/landing.jpg);
    background-size: cover;
    padding: 0;
}

header {
    min-height: 100px;
    width: 100%;
    padding: 20px 0px;
}

header .contener {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    z-index: 2;
}


/*End Header*/

.landing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.land-contaner {
    width: 100%;
    height: 100%;
    position: relative;
}

.land-contaner .info {
    width: 50%;
    padding: 40px 60PX 40PX 100PX;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--transparent-color);
    color: white;
}

.land-contaner .info h2 {
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 300;
}

.land-contaner .info p {
    line-height: 2;
    font-size: 14px;
}

.land-contaner .move-pic {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 15px;
}

@media(max-width:767px) {
    .land-contaner .info {
        width: 100%;
        padding: 20px 30PX 20PX 60PX;
    }
    .left-move,
    .right-move {
        display: none;
    }
}